@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Noto+Sans|Open+Sans:400,700&display=swap');
*{
  margin: 0;
  padding: 0;
  color: #f2f2f2;
  box-sizing: border-box;
}
.center{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #1b1b1b;
  border-radius: 5px;
}
.center .button{
  width: 500px;
  background: #1b1b1b;
  height: 50px;
  padding: 0 20px;
  border-radius: 5px 5px 0 0;
}
.button .text{
  font-size: 20px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 1px;
  font-family: 'Open Sans',sans-serif;
}
.button .icon{
  font-size: 30px;
  line-height: 40px;
  cursor: pointer;
  float: right;
}
.center .field{
  height: 45px;
  width: 500px;
  background: #f2f2f2;
  position: relative;
  display: block;
}
.field.hide{
  /*display: none;*/
}
.field input{
  height: 100%;
  width: 100%;
  padding-left: 15px;
  font-size: 18px;
  outline: none;
  background: none;
  color: #202020;
  border: 2px solid #1b1b1b;
}
.field .add-btn{
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: #1b1b1b;
  font-size: 17px;
  padding: 4px 8px;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Montserrat',sans-serif;
  display: none;
}
.priority{
	float: right;
	margin-right: 5px;
	font-size: 12px;
}
input:valid ~ .add-btn{
  display: block;
}
.priority	 {
	font-size: 14px;
	margin: 10px 0 0 0;
    background: none;
    border: none;
    font-family: 'Noto Sans',sans-serif;
}
select option{
	background: #000;
	color: #fff;
}
#sort	 {
	font-size: 16px;
    width: 100%;
    line-height: 45px;
	padding: 8px;
    background: #1b1b1b;
    border: none;
    font-family: 'Noto Sans',sans-serif;
}
#count{
	color: #e74c3c;
}
#completed-lbl{
	color: #e74c3c;
	margin-left: 10px;
}
.center ul{
  list-style: none;
  overflow: hidden;
}
.priority{
	float: right;
	margin-right: 10px;
}
input[type=checkbox]{
	content: "";
	width: 16px;
	height: 16px;
}
ul li{
  height: 45px;
  width: 100%;
  line-height: 45px;
  background: #262626;
  font-family: 'Noto Sans',sans-serif;
}
ul li:nth-child(2n){
  background: #1b1b1b;
}
ul li:last-child{
  border-radius: 0 0 5px 5px;
}
ul li:last-child span{
  border-radius: 5px 5px 5px 5px;
}
ul li span{
  margin-right: 10px;
  height: 45px;
  width: 45px;
  margin-left: -30px;
  background: #e74c3c;
  display: inline-block;
  line-height: 45px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px 5px 5px 5px;
  transition: 0.3s ease;
}
ul li:hover span{
  margin-left: 0px;
}